.bankCard{
    
    height: 300px;
    width: 400px;
}

.image {
	position	: relative;
	width		: 100%;
}

.cardNumber {
	position	: absolute;
	top		: 160px;
	left		: 60px;
    width		: 100%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    
}

.cardName {
	position	: absolute;
	top		: 210px;
	left		: 60px;
	width		: 100%;
}
.cardDate {
	position	: absolute;
	top		: 210px;
	left		: 235px;
	width		: 100%;
}
.cardColor{
    color: rgb(122, 109, 31);
}

.btnHistory{
    position	: absolute;
    top		: 45px;
	left		: 400px;
	
}
.btnTransfer{
    position	: absolute;
    top		: 115px;
	left		: 400px;
	
}

.btnBlock{
    position	: absolute;
    top		: 185px;
	left		: 400px;
}

.balance{
    position	: absolute;
    top		: 0px;
	left		: 30px;
}

.divNoCard{
    position	: absolute;
    left: 50px;
    top: 150px;
}
.hrefNewCard{
    position	: absolute;
    left: 100px;
}
.CardBlock{
    position	: absolute;
    left: 400px;
    top: 135px;
    color: red;
}


.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }



  .rates{
    width: 400px;
    height: 250px;
    padding: 40px;
    position: absolute;
    top: 28%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
html,body{
    /* background: linear-gradient(45deg,#cc2b5e,#753a88); */
    background: linear-gradient(45deg,#3E5151,#DECBA4);
    background-size: cover;
    }


/* delete */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #009879;
    background-color: white;
    color: #000000;
}

.styled-table tbody tr:nth-of-type(even) {
    /* background-color: #f3f3f3; */
    color: #000000;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    color: #000000;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}